.normal {
  font-size: 30px;
  line-height: 1.5;
  input {
    padding: 22px 30px 20px;
    box-sizing: border-box;
    height: 76px;
    line-height: 76px;
    border-radius: 0
  }
}
.border {
  .normal;
  border: 1px solid #DFDFDF;
}
